* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: #020508;
    overflow-x: hidden;
    background-color: #FBFEFE;
}